	<% if signed_in? %>
		<%= link_to "sign_out", signout_path, method: "delete" %> 
		<%= link_to "user", user_path(current_user), method: "get" %>
	<% else %>
		<%= link_to "sign_in", signin_path, method: "get" %>
	<% end %>

	<div class="mainbox">

		<p>MAIN POST BOX</p>

		<% if signed_in? %>
			<%= simple_form_for @post do |p| %>
				
				<%= p.input :post, label: false %>
				<%= p.button :submit, value: "Rant" %>
			<% end %>
		<% end %>
	</div>




	<% @posts.each do |post| %>
		<% print_tree(post, nil, 0).each do |a_post| %>
			<div class = "comments">
				<%= a_post %>
						<!-- <button>Comment</button> -->
			<!-- <p style="display: none">akdj;alkjdf;lkajd</p> -->
			


				

				<!--ADD IF STATEMENT FOR FOLLOW BUTTON -->
				<%# if signed_in? %>
				<%#= form_for(current_user.friendships.build(followed_id: post.user_id),
					             remote: true) do |f| %>
					<!-- <div> -->
						<%#= f.hidden_field :followed_id %>
						<%#= f.submit "Follow" %>
					<!-- </div> -->
				<%# end %>	
			</div>			
			<%# end %>		
		<% end %>



		<%# @posts.each do |comment| %> 
		<!-- <div class="comments"> -->

			<%# if post.id == comment.post_id %> <!-- compare the orginal post's id, with the comment(post)'s post_id -->
				<!-- <%#= comment.post %></br> -->
				<!-- <%#= comment.post_id %></br> -->
			<%# end %>
		<!-- </div> -->
		<%# end %>

	<% end %>
				<script>

					$(document).on("page:change", function(){
						$(".comment_form").hide();
						// $("button").click(function(){
						// 	$(this).next("p").toggle();
						// 	alert($(this).next("p").text());
						// 	// $("p").toggle();
						// });
					$(".show_comment").click(function(){
						$(this).prev(".comment_form").toggle();
					})
					})


				</script>